<!DOCTYPE html>
<html lang="zh" class="<%= args.env.SVC_ENV %>">
<head>
  <meta charset="UTF-8">
  <title>Hello world</title>
  <!-- 让网页适配屏幕并且不可缩放 -->
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, user-scalable=no">

  <meta name="screen-orientation" content="portrait" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="icon" href="<%= require('./favicon.ico').default %>"/>
</head>
<body>
<!-- polyfill 支持， feature default -->
<script src="https://polyfill.io/v3/polyfill.min.js"></script>
<!-- 载入rem.js -->
<script src="<%= require('file-loader!../library/rem').default %>"></script>

<!--
Webpack cli parameters
--env <%= JSON.stringify(args.env) %>
--mode <%= args.mode %>

更多内置可访问对象见 https://github.com/jantimon/html-webpack-plugin#writing-your-own-templates
更多用例见 https://github.com/jaketrent/html-webpack-template
-->
</body>
</html>
